@import url(./foods.css);
@import url(./cards.css);
@import url(./footer.css);
@import url(./header.css);

@keyframes bubbleUp {
    0% {
      top: 100vh;
      opacity: 0;
    }
  
    25% {
      transform: translate(4rem, 0);
    }
  
    50% {
      opacity: 0.75;
    }
  
    100% {
      top: 0;
      opacity: 0;
      transform: translate(0, 0);
    }
  }
  
  :root {
    scroll-behavior: smooth;
    --primary-theme-color: #03718d;
    --secondary-theme-color: #20f8ff;
    --text-color: #fff;
  
    --button-color: #03718d;
    --button-color-active: #2a9d8f;
    --button-text-color: #fff;
  
    --primary-shadow-color: #8888;
    --secondary-shadow-color: #21242c80;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: #ffd700;
    --invalid-color: #dc143c;
    --padding-section: 4rem 0;
    --padding-container: 0 2rem;
    --max-width-container: 1024px;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
  }
  
  .body {
    background: linear-gradient(to right, var(--primary-theme-color), var(--secondary-theme-color));
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }
  
  .header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .header-nav {
    padding: 0.5em 0;
  }
  
  .header-nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-container);
    margin: auto;
    padding: var(--padding-container);
  }
  
  .header-nav__link-logo-container {
    display: flex;
    height: 3rem;
  }
  
  .header-nav__link-logo {
    height: 100%;
  }
  
  .header-nav__menu-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: var(--all-transitions);
  }
  
  .header-nav__menu-link-item {
    display: flex;
  }
  
  .header-nav__menu-link {
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    color: var(--button-text-color);
    text-shadow: 0 0 0.125rem var(--primary-highlight-color);
    font-weight: 700;
    padding: 0.5em 1.5em;
    text-decoration: none;
    transition: var(--all-transitions);
  }
  
  .header-nav__menu-link:hover,
  .header-nav__menu-link--active {
    background-color: var(--button-color-active);
  }
  
 
  
  .main {
    width: 100%;
  }
  
  
  @media (min-width: 854px) {
    :root {
      --padding-container: 0 0.75em;
    }
   
  }


body {
    margin: 0;
    background-image: linear-gradient(to right, #ECE9E6, #FFFFFF);
}


.cardproduct-container {
    display: grid;
    gap: 2rem;
  }